<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title v-cloak v-text="head.title"></title>
    <!-- 重要：标题改这里 -->
    <meta name="keywords" :content="head.meta.keywords">
    <meta name="description" :content="head.meta.description">
    <meta name="author" :content="head.meta.author">
    <meta name="renderer" content="webkit">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=640,target-densitydpi=320, minimum-scale=0.5, maximum-scale=2,user-scalable=0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" :href="head.favicon">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="./css/bundle.min.css">
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">浏览器 <strong>版本太低</strong>。请使用 <a href="http://browser.qq.com/">QQ 浏览器</a> 访问获得更好体验。</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <div class="wrap" :style="bgObject">
        <div class="btns">
        <!-- 可能只能有一个下载按钮 -->
            <a id="android" class="android" @click="androidClick" href="javascript:;">下载</a>
            <!-- <a id="ios" class="ios" @click="iosClick" href="javascript:;" >ios下载</a> -->
        </div>
        <!-- <div class="remodal-bg">
            <div class="remodal" data-remodal-id="modal">
                <p>网络慢或无信号
                    <br>请靠近网络信号源或更换网络后再次尝试</p>
            </div>
        </div> -->
        <div class="discuss">
            <div v-cloak class="discuss-sec" v-for="comment in channel.content.comments">
                <img class="touxiang" :src="comment.touxiangIcon" alt="touxiang">
                <div class="info">
                    <span class="name">{{comment.name}}</span>
                    <ul class="star-info">
                        <li v-for="item in comment.starNum"><img src="./img/star.png" alt="touxiang"></li>
                    </ul>
                    <div class="zan-info">
                        <div>{{comment.praiseNum}}</div>
                        <img src="img/zan.png" alt="">
                    </div>
                    <p>{{comment.discussion}}</p>
                </div>
            </div>
        </div>
        <footer>
            <p v-cloak class="1">{{channel.footer.copyright}}</p>
            <p v-cloak class="address">{{channel.footer.address}}</p>
            <p v-cloak class="3">{{channel.footer.icpLicense}}</p>
        </footer>
    </div>
    <!-- weixinimg -->
    <div v-cloak v-show="show" id="weixinMsg" class="weixin">
        <img src="img/tip.png">
        <a href="javascript:;" class="close" @click="closeTip"></a>
    </div>
    <div v-cloak v-show="show" id="shadow" @click="closeTip"></div>


    <script src="./js/bundle.min.js"></script>
</body>

</html>
